body
{
  background-color: black;
  color: white;
  text-align: center;
}

h2
{
  text-align: justify;
  font-size: xx-large;
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px;
}

p
{
  vertical-align: middle;
  text-align: justify;
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
  border: 3px;
}

.video
{
  display: block;
  margin: auto;
  width: 800px;
  height: 600px;
}

.logoup
{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 75px;
}

.logodown
{
  display: block;
  position: fixed;
  bottom:0px;
  right: 20px;
  width: 70px;
  height: 130px;
}


