body
{
  background-color: black;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
}

.navbar-nav {
  font-size: 16px;
  }

h1 {
text-align: justify;
font-size: xx-large;
text-justify: inter-word;
max-width: 700px;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
border: 3px;
}

h2 {
  text-align: justify;
  font-size: xx-large;
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px;
}

h3, h4 {
  position: relative;
  text-align: justify;
  font-size: large;
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px;
}

p{
  vertical-align: middle;
  text-align: justify;
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
  font-size: medium;
}

.video {
  display: block;
  margin: auto;
  width: 800px;
  height: 600px;
}

.logohome {
  display: block;
  position: fixed;
  bottom:30px;
  right: 20px;
  width: 60px;
  height: 70px;
}

.logoexperience {
  display: block;
  position: fixed;
  bottom:30px;
  right: 40px;
  width: 60px;
  height: 70px;
}

.logoeducation {
  display: block;
  position: fixed;
  bottom:30px;
  right: 30px;
  width: 80px;
  height: 75px;
}

.logoupextra {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 150px;
  height: 75px;
}

.logodownextra {
  display: block;
  position: fixed;
  bottom:20px;
  right: 15px;
  width: 70px;
  height: 130px;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
  bottom:0px;
}
